body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh; /* Full viewport height */
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 20%;

    background-color: #fff; /* Optional background for logo */
    z-index: 100; /* Ensure logo stays above other content */
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.logo img {
    height: 50px; /* Adjust this to your logo size */
    width: auto; /* Maintain aspect ratio */
}

.container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%; /* Make the container span the full viewport */
}

.iniative-pane {
    width: 20%;
    height: fill-available;
    background-color: #f4f4f4; /* Left pane background */
    padding: 20px;
    margin-top: 20vh;
    box-sizing: border-box;
}

.battlemap-pane {
    width: 80%;
    background-color: #e0e0e0; /* Right pane background */
    padding: 50px;
    box-sizing: border-box;
    overflow-y: auto; /* Add scrolling if content overflows */
}
