body {
    margin: 5px;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    height: 100vh;
}

.left {
    width: fit-content;
    padding: 10px;
    background-color: #1796DD;
    overflow: hidden;
}

.left img {
    width: 80px;
}

.scrollable-div {
    overflow: hidden;
    overflow-y: scroll;
    
    height: calc(100vh - 120px) !important;
}

.right {
    flex-grow: 1;
    overflow: hidden !important;
    background-color: #e3e3e3;
    width: 10%;
}

.grid-container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 100%;
}

.token {
    display: flex;
    flex-direction: column;
}
.token_stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.battlemap {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    cursor: grab;
}

.battlemap:active {
    cursor: grabbing;
}